<div class="container center">
  <div class="cocktail-cards">
    <% @cocktails.each do |cocktail| %>
    <div class="cocktail-card">
      <div class="img-card">
        <%= link_to cocktail_path(cocktail), style: "text-decoration: none" do %>
        <% if cocktail.photo.attached? %>
        <%= cl_image_tag cocktail.photo.key, class: "img-card" ,crop: :fill %>
        <% end %>
      </div>
      <div class="text-card">
        <p><%= cocktail.name %></p>
        <p><%= cocktail.price%>,00€</p>
      </div>
    <% end %>
    </div>
    <% end %>
  </div>
</div>

