/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
  background-image: url("mesh-gradient2.png");
  color: white;
}

.navbar{
  width: auto;
  height: 75px;
  background-color: rgba(25, 25, 25,0.6);
  z-index: 10;
  margin: -10px;
  display: flex;
  flex: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  padding-left: 1%;
  padding-right: 1%;
}

.navbar > img{
  width: 75px;
  height: 50px;
}

