// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/



@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 480px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

.cocktail-cards{
  display: grid;
  grid-gap: 30px 5%;
  grid-template-columns: repeat(1, 1fr);
}

@media screen and (min-width: 480px){
  .cocktail-cards{
    grid-template-columns:repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px){
  .cocktail-cards{
    grid-template-columns:repeat(3, 1fr);
  }
}

.cocktail-card{
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.text-card{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.img-card{
  height: 150px;
  width: 100%;
}

// .card-trip {
//   overflow: hidden;
//   background: white;
//   box-shadow: 0 0 15px rgba(0,0,0,0.2);
// }

// .card-trip > img {
//   height: 200px;
//   width: 100%;
//   object-fit: cover;
// }

// .card-trip h2 {
//   font-size: 16px;
//   font-weight: bold;
//   margin: 0;
// }

// .card-trip p {
//   font-size: 12px;
//   opacity: .7;
//   margin: 0;
// }


// .card-trip .card-trip-infos {
//   padding: 16px;
//   display: flex;
//   justify-content: space-between;
//   align-items: flex-end;
//   position: relative;
// }

// .card-trip-infos .card-trip-user {
//   position: absolute;
//   right: 16px;
//   top: -20px;
//   width: 40px;
// }

